* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 1rem 0;
  small {
    display: block;
    font-size: 0.5em;
    font-weight: 200;
  }
}

tab-controller {
  [button-container] {
    margin-bottom: -2px;
  }

  button {
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #efefff;
    cursor: pointer;
    border: 2px solid #8ac;
    border-bottom-width: 0;

    & + button {
      margin-left: 0.5rem;
    }

    &[active] {
      background: #acf;
      background: white;
      border: 2px solid #58a;
      border-bottom: 0;
      padding-bottom: calc(1rem + 2px);
    }
  }

  tab-container {
    display: block;
    height: 80vh;
    border: 2px solid #58a;
    risk-map {
      display: block;
      height: 100%;
    }
  }
}
