* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 1rem 0;
    small {
      display: block;
      font-size: 0.5em;
      font-weight: 200;
    }
  }
}

tab-controller {
  [button-container] {
    margin-bottom: -2px;
  }

  button {
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #efefff;
    cursor: pointer;
    border: 2px solid #8ac;
    border-bottom-width: 0;

    & + button {
      margin-left: 0.5rem;
    }

    &[active] {
      background: #acf;
      background: white;
      border: 2px solid #58a;
      border-bottom: 0;
      padding-bottom: calc(1rem + 2px);
    }
  }

  tab-container {
    display: block;
    height: 80vh;
    border: 2px solid #58a;
    risk-map {
      display: block;
      height: 100%;
    }
  }
}

headline {
  display: block;
  font-weight: 600;
  background-color: lightblue;
  border: 1px solid gray;
  padding: 1rem;
  margin: 1rem 0;
  line-height: 1.3rem;
}

discussion {
  display: block;
  margin: 2rem 0;

  h1 {
    margin: 2rem 0;
  }

  block {
    display: block;
    margin: 1.5rem 0;

    hr {
      margin: 1.5rem 0;
    }

    p {
      line-height: 1.5rem;
      margin: 1.5rem 0;
    }
  }
}
